<div><h1>Welcome to our page!!!</h1></div>

<div class="signin">

    
    <a href="http://localhost:5000/signin">
        <button> Sign In</button>
    </a>

</div>

<br><br>

<div class="signout" >

    <a href="http://localhost:5000/signup">
        <button> Sign Out</button>
    </a>
    
</div>